.section-cart .cart-box {
	@apply section-container;
}

.cart-subtotal {
	@apply flex flex-col justify-center items-end;

	margin-bottom: 20px;

	.cart-subtotal-div {
		@apply mb-[10px];
	}

	.cart-subtotal-note {
		font-size: 80%;
		color: $color-grey;
	}
}
