.section-cart .cart-box {
  @apply section-container;
}

.section-cart .yourCart .cart-table {
  @apply mb-[30px] p-[10px] w-full;
  
  border: solid 1px $color-border;
  border-collapse: separate !important;
  border-radius: $border-radius;

  th {
    padding: 10px;
  }

  .thead {
    .thead-th-product { @apply w-[50%]; }
    .thead-th-price { @apply w-[10%]; }
    .thead-th-quantity { @apply w-[15%]; }
    .thead-th-total { @apply w-[10%] hidden sm:table-cell; }
    .thead-th-remove { @apply w-[15%]; }
  }

  .item {
    th {
      font-weight: var(--font-regular);
      vertical-align: middle;
    }

    .item-product-name { @apply hidden sm:table-cell; }

    .item-product-img {
      @apply mr-[20px];
      @apply w-[50px] h-[50px];

      border: solid 1px $color-border;
      border-radius: $border-radius;
      overflow: hidden;

      img {
        @apply w-full h-full;
      }
    }

    .item-total { @apply hidden sm:table-cell; }
  }
}

.cart-subtotal {
  @apply flex flex-col justify-center items-end;

  margin-bottom: 20px;

  .cart-subtotal-div {
    @apply mb-[10px];
  }

  .cart-subtotal-note {
    font-size: 80%;
    color: $color-grey;
  }
}