@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/*------- VARIABLES -------*/
$filter-primary-dark: brightness(0) saturate(100%) invert(30%) sepia(85%) saturate(1559%) hue-rotate(146deg) brightness(99%) contrast(101%);

$color-primary-light: #b8fff1;
$color-primary: #00b894;
$color-primary-dark: #009679;

$color-bg: #fff;
$color-bg-dark: #f6f8f8;

$color-border: #dfe6e9;

$color-shadow: #b2bec3;
$color-shadow-dark: #636e72;

$color-placeholder: #97a5a9;

$color-grey-light: $color-border;
$color-grey: #868686;

$color-black: #2d3436;

/*------- BASIC SETUP -------*/
$border-radius: 12px;

$btn-line-width: 1px;

$btn-pv: 15px;
$btn-ph: 30px;
$field-pv: 20px;
$field-ph: 25px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition:
    transform var(--transition-delay),
    opacity var(--transition-delay),
    background-color var(--transition-delay),
    color var(--transition-delay),
    filter var(--transition-delay),
    border var(--transition-delay),
    box-shadow var(--transition-delay);
}

body,
button {
  @apply text-[12px] sm:text-[15px];
  font-family: var(--font-family);
}

:root {
  --font-family: 'Poppins', serif;

  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  --color-shadow: rgba(0, 0, 0, 0.2);

  --transition-delay: 0.2s;
}

.material-symbols-outlined {
  pointer-events: none;
  font-variation-settings: 'FILL' 0,'wght' 300,'GRAD' 0,'opsz' 48;
}

/*------- REUSEABLE COMPONENTS -------*/
.btn-icon {
  @apply inline-flex justify-center items-center;
  @apply w-[38px] h-[38px];

  font-size: 24px;
  overflow: hidden;
  border-radius: 50%;
  
  img {
    border-radius: 50%;
  }

  &:hover {
    background-color: $color-grey-light;
  }
}

button {
  display: inline;
  border: none;
  background: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: $color-black;
  font-weight: var(--font-regular);
  line-height: 150%;
}

section {
  // padding: 50px 10px;
  @apply py-[30px] px-[10px] md:py-[50px] md:px-[10px];
}

a {
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-primary-dark;
  }
}

.stars {
  @apply flex items-start;

  color: $color-primary-dark;
  filter: $filter-primary-dark;

  .star {
    @apply m-[-2px];
  }
}

/*------- HEADINGS -------*/
h1 {
  color: $color-black;
  margin-bottom: 30px;

  // text-transform: uppercase;
  font-weight: var(--font-regular);
  font-size: 250%;
  line-height: 100%;

  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  @apply text-center md:text-left;

  font-size: 150%;
  // text-transform: uppercase;
  font-weight: var(--font-regular);
  margin-bottom: 30px;
}

h3 {
  font-size: 120%;
  font-weight: var(--font-regular);
  margin-bottom: 5px;
}

h4 {
  font-size: 100%;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

/*------- BUTTONS -------*/
@import '../components/ui/Button/style';

/*------- PRODUCT SAVE -------*/
.product_item-save {
  @apply flex justify-center items-center;

  z-index: 1;

  position: absolute;
  top: 7px;
  right: 7px;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  box-shadow: 0 0 5px $color-shadow;
  background-color: $color-bg;

  &:hover {
    box-shadow: 0 0 5px $color-shadow-dark;
    transform: scale(1.1);
  }

  .material-symbols-outlined {
    font-size: 20px;
  }
}

/*------- FORM -------*/
label {
  font-weight: var(--font-bold);
}

input[type=text],
input[type=password],
textarea {
  width: 100%;
  padding: $field-pv $field-ph;
  margin-bottom: 15px;

  outline: none;
  border: none;
  box-shadow: 0 0 0 1pt #ecf0f1;
  border-radius: $border-radius;

  background-color: $color-bg-dark;
  resize: vertical;

  &:focus {
    box-shadow: 0 0 0 2pt cornflowerblue;
  }

  &::placeholder {
    color: $color-placeholder;
    opacity: 1; /* Firefox */
  }
}

textarea {
  padding: $field-pv $field-ph;
  max-height: 500px;
}

input[type=number] {
  padding: $btn-pv $btn-ph;
  border: solid 2px $color-border;
  border-radius: $border-radius;
}

.input-field {
  position: relative;

  .input-field-icon {
    position: absolute;

    top: 0;
    right: 0;

    padding-top: $field-pv;
    padding-right: $field-ph;

    color: $color-placeholder;
  }
}

/*------- LOGO -------*/
.logo {
  font-weight: var(--font-bold);
  font-size: 120%;
  color: var(--color-dark);

  &:hover {
    color: $color-primary-dark;
  }
}

/*------- MAIN NAVIGATOR -------*/
@import '../components/navigation/style';

/*------- HEADER -------*/
@import '../components/header/style';

/*------- PRODUCTS -------*/
@import '../components/ui/Products/style';

/*------- PRODUCT ITEM -------*/
@import '../components/ui/ProductItem/style';

/*------- WHY CHOOSE US -------*/
@import '../components/whyChooseUs/style';

/*------- TESTIMONIALS -------*/
@import '../components/testimonials/style';

/*------- ABOUT -------*/
@import '../components/about/style';

/*------- FOOTER -------*/
@import '../components/footer/style';

/*------- CONTACT US -------*/
@import '../components/contact/style';

/*------- PRODUCT -------*/
@import '../components/product/style';

/*------- FEEDBACK -------*/
@import '../components/feedback/style';

/*------- CART -------*/
@import '../components/cart/style';

/*------- SIGN UP / SING IN -------*/
.section-signin .signin-p,
.section-signup .signup-p {
  color: $color-grey;
  text-align: center;
  margin-bottom: 30px;
}