.reason {
  .reason-icon {
    @apply m-auto lg:m-0;
    @apply mb-[30px];
    @apply w-[70px] h-[70px];
    @apply flex justify-center items-center;

    background-color: $color-bg-dark;
    border-radius: $border-radius;
  }

  .reason-h4 {
    @apply text-center lg:text-left;
  }

  .reason-p {
    @apply text-center lg:text-left;
    color: $color-grey;
  }

  &:hover .reason-icon {
    background-color: $color-primary-light;
    
    .icon {
      filter: $filter-primary-dark;
    }
  }
}