@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 601px) {

  body,
  button {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {

  body,
  button {
    font-size: 12px;
  }
}

/*------- BASIC SETUP -------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: transform var(--transition-delay),
    opacity var(--transition-delay),
    background-color var(--transition-delay),
    color var(--transition-delay),
    border var(--transition-delay),
    box-shadow var(--transition-delay);
}

body,
button {
  font-family: var(--font-family);
}

:root {
  --color-secondary: #00b894;
  --color-secondary-dark: #009679;

  --color-secondary-1: #c9fff4;
  --color-secondary-2: #a7ffee;

  --color-primary: #ffffff;
  --color-primary-dark: #f6f8f8;

  --color-grey-0: #dfe6e9;
  --color-grey-1: #b2bec3;
  --color-grey-2: #636e72;

  --color-black: #2d3436;

  --font-family: 'Cardo', serif;

  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;

  --border-radius: 12px;

  --color-shadow: rgba(0, 0, 0, 0.2);

  --line-width: 1px;

  --transition-delay: 0.2s;
}

/*------- REUSEABLE COMPONENTS -------*/
button {
  display: inline;
  border: none;
  background: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  color: var(--color-black);
  margin-bottom: 50px;
  font-weight: var(--font-regular);
  line-height: 150%;
}

section {
  padding: 50px 10px;
}

a {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    color: var(--color-secondary-dark)
  }
}

ion-icon,
.instagram-icon {
  pointer-events: none;
}

/*------- HEADINGS -------*/
h1 {
  color: var(--color-black);
  margin-bottom: 30px;

  font-weight: var(--font-regular);
  font-size: 250%;
  line-height: 100%;

  letter-spacing: 1px;
  word-spacing: 4px;

  text-transform: capitalize;
}

h2 {
  font-size: 200%;
  text-align: center;
  font-weight: var(--font-regular);
  margin-bottom: 50px;
}

h3 {
  font-size: 130%;
  font-weight: var(--font-bold);
  margin-bottom: 30px;
}

h4 {
  font-size: 120%;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

/*------- BUTTONS -------*/
.btn-base {
  padding: 10px 30px;
  font-weight: var(--font-regular);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}

.btn-full {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin-right: 15px;
}

.btn-full-grey {
  background-color: var(--color-grey-0);
  color: var(--color-black);
  margin-right: 15px;
}

.btn-ghost {
  border: var(--line-width) solid var(--color-secondary);
  color: var(--color-secondary);

  &:hover {
    border: var(--line-width) solid var(--color-secondary-dark);
    color: #fff;
  }
}

.btn-ghost-grey {
  border: var(--line-width) solid var(--color-grey-0);
  color: var(--color-black);

  &:hover {
    border: var(--line-width) solid var(--color-secondary-dark);
    color: #fff;
  }
}

/*------- LOGO -------*/
.logo {
  // text-transform: uppercase;
  font-weight: var(--font-bold);
  font-size: 120%;
  color: var(--color-dark);

  &:hover {
    color: var(--color-secondary-dark);
  }
}

/*------- MAIN NAVIGATOR -------*/
nav {
  border-bottom: 2px solid var(--color-grey-0);

  .main-nav-promo {
    padding: 10px;
    background-color: var(--color-secondary-dark);
    color: white;
    text-align: center;
  }

  .main-nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-nav li {
      display: inline-block;
      margin-left: 40px;

      a {
        padding: 5px 0px;
        // color: var(--color-dark);

        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid var(--color-secondary-dark);
        }
      }
    }

    .button-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      font-size: 24px;
      margin-left: 10px;

      width: 38px;
      height: 38px;
      border-radius: 50%;

      &:hover {
        background-color: var(--color-grey-0);
      }
    }

    .button-cart {
      position: relative;

      .button-cart-length {
        position: absolute;
        top: 5px;
        right: 0;

        height: 14px;
        width: 14px;

        border-radius: 50%;

        background-color: var(--color-secondary-dark);

        font-size: 11px;
        color: white;

        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

/*------- HEADER -------*/
header {
  padding: 50px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background.jpg");
  background-size: cover;
  background-position: 0;
  height: 500px;
}

.header-box {
  padding-top: 100px;

  .header-text,
  .header-parag {
    text-align: center;
    color: var(--color-primary);
  }

  button {
    margin: 0 auto;
    display: block;
  }
}

/*------- PRODUCTS -------*/
.product-box {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // column-gap: 20px;
  // row-gap: 20px;

  .product {
    position: relative;
    overflow: hidden;

    border: 2px solid rgb(240, 240, 240);
    border-radius: var(--border-radius);

    &:hover {
      box-shadow: 0 0 20px var(--color-grey-1);
    }

    .save {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 7px;
      right: 7px;

      width: 32px;
      height: 32px;

      border-radius: 50%;
      box-shadow: 0 0 5px var(--color-grey-1);
      background-color: var(--color-primary);

      &:hover {
        box-shadow: 0 0 5px var(--color-grey-2);
        transform: scale(1.1);
      }

      .save-icon {
        font-size: 18px;
      }
    }

    .product-img {
      // margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .product-name {
      font-size: 120%;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    .product-stars {
      margin-bottom: 5px;
      color: var(--color-secondary-dark);
    }

    .product-tag {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .product-tag-price {
        margin: auto 0;
        font-size: 150%;
        // color: var(--color-secondary-dark);
      }

      .product-tag-add {
        padding: 5px;
        background-color: var(--color-primary-dark);
        border-radius: 50%;

        height: 38px;
        width: 38px;

        .product-tag-add-icon {
          color: var(--color-secondary-dark)
        }
      }
    }
  }
}

/*------- TESTIMONIALS -------*/
.section-testimonials {
  background-color: var(--color-grey-0);
}

.testimonials-box {
  overflow: hidden;
  margin-bottom: 15px;

  blockquote {
    color: var(--color-black);
  }

  .testimonial i {
    font-size: 120%;
    margin-bottom: 15px;
    color: var(--color-black);
  }

  .testimonial blockquote {
    font-style: italic;
    font-weight: var(--font-light);
  }

  .testimonial cite {
    display: block;
    margin-top: 20px;
  }

  .testimonial cite:before {
    content: '\2014 \0020';
  }
}

/*------- ABOUT -------*/
.section-about {
  background-color: var(--color-grey-1);
}

.about-box .contact {
  h4 {
    text-align: center;
  }

  button {
    margin: 0 auto;
    display: block;
  }
}

/*------- INSTAGRAM -------*/
.section-instagram {
  padding: 0;

  .instagram-box {
    .instagram-photo {
      position: relative;
      background-color: black;
      overflow: hidden;

      .instagram-icon {
        font-size: 80px;
        color: var(--color-primary);
        opacity: 0;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      img {
        width: 100%;
        opacity: 1;
      }

      &:hover img {
        opacity: 0.5;
        transform: scale(1.1);
      }

      &:hover .instagram-icon {
        opacity: 1;
      }
    }
  }
}

/*------- FOOTER -------*/
footer {
  padding: 25px;
  background-color: var(--color-black);
}

.footer-box {
  p {
    margin-bottom: 30px;
    color: var(--color-primary);
    font-weight: var(--font-bold);
  }

  li {
    display: inline-block;
    margin-right: 20px;
  }

  a {
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 50px;
  }
}

/*------- CONTACT US -------*/
.section-contact-me {
  background-color: var(--color-primary);

  .contact-me-box {
    .contact-me-box-child {
      // width: 50%;
      padding: 20px;
    }

    .contact-me-container {
      border-radius: var(--border-radius);

      .contact-me-box-feild {
        position: relative;

        .contact-me-box-feild-icon {
          display: inline-block;
          position: absolute;
          width: 50px;
          height: 100%;
          padding-bottom: 15px;
          top: 0;
          right: 10px;
          color: var(--color-grey-2);

          i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 63px;
            opacity: 1;
          }
        }
      }
    }
  }
}

/*------- FORM -------*/
input[type=text],
textarea {
  width: 100%;
  padding: 20px 25px;
  margin-bottom: 15px;

  outline: none;
  border: none;
  box-shadow: 0 0 0 1pt #ecf0f1;
  border-radius: var(--border-radius);

  background-color: var(--color-primary-dark);
  resize: vertical;
}

input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 0 2pt cornflowerblue;
}

textarea {
  padding: 20px 25px;
  min-height: 150px;
}

/*------- PRODUCT -------*/
.product-details-box {
  .product-details-img {
    .product-details-preview {
      width: 100%;
      margin-bottom: 20px;
      border-radius: var(--border-radius);
    }

    .product-details-pictures {
      .product-details-picture {
        img {
          border-radius: var(--border-radius);
          width: 100%;
          opacity: 1;
        }

        &:hover img {
          opacity: .5;
        }
      }
    }
  }

  .product-details {
    margin-bottom: 30px;

    .product-details-name {
      margin: 0 0 10px 0;
    }

    .product-details-reviews {
      margin: 0 0 5px 0;
      color: var(--color-secondary-dark);
    }

    .product-details-price {
      font-size: 150%;
      margin: 0 0 30px 0;
    }

    .product-details-description {
      white-space: pre-wrap;
    }

    .btn-ghost-grey {
      display: block;
      margin-bottom: 10px;
    }

    .btn-full {
      display: block;
      margin-bottom: 50px;
    }
  }

  .product-reviews {
    border: solid 2px var(--color-primary-dark);
    padding: 30px;

    .product-review {
      .product-review-fullname {
        margin: 0;
        color: var(--color-grey-2);
      }

      .product-review-stars {
        margin: 0;
        color: var(--color-secondary-dark);
      }

      .product-review-text {
        // margin: 0 0 20px 0;
      }
    }
  }
}

/*------- CART -------*/
.section-cart {
  .cart-container {
    .cart-table {
      width: 100%;
      margin-bottom: 30px;

      th {
        padding: 10px;
      }

      .cart-table-thead {
        .cart-table-thead-th-product {
          width: 50%;
        }

        .cart-table-thead-th-price {
          width: 10%;
        }

        .cart-table-thead-th-quantity {
          width: 15%;
        }

        .cart-table-thead-th-total {
          width: 10%;
        }

        .cart-table-thead-th-remove {
          width: 15%;
        }
      }

      .cart-table-item {
        th {
          font-weight: var(--font-regular);
          vertical-align: middle;
        }

        .cart-table-item-product {
          .cart-table-item-product-div {
            display: flex;
            align-items: center;

            .cart-table-item-product-img {
              margin-right: 30px;
              width: 50px;
            }

            .cart-table-item-product-img img {
              height: 100%;
              width: 100%;

              border-radius: var(--border-radius);
            }
          }
        }

        .cart-table-item-quantity {
          .cart-table-item-quantity-field {
            padding: 10px 30px;

            border: solid 2px var(--color-grey-0);
            border-radius: var(--border-radius);
          }
        }
      }
    }

    .cart-subtotal {
      margin-bottom: 30px;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      .cart-subtotal-div {
        .cart-subtotal-div-title {
          margin-right: 30px;
        }
      }

      .cart-subtotal-note {
        margin-top: 10px;
        font-size: 80%;
      }
    }

    .cart-item-checkout {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      .cart-item-checkout-btn {
        margin: 0 0 30px 0;
      }
    }
  }
}